input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
a{
  text-decoration: none;
}
.navbar span.navbar-brand a{
  color: #aaa !important;
  font-family: 'Saira Stencil One', cursive !important;
  font-size: 24px;
}

.wrapper{
  min-height: 100vh;
  background-color: #b1ae95;
  overflow: scroll;
  padding-top: 70px;
}

footer{
  margin-top: 10px;
  height: 70px !important;
}

footer p{
  display:inline-block;
  width: 100%;
  text-align: center;
  color: #ccc;
  height: 70px;
  line-height: 70px;
}
