<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Cookie|DM+Serif+Text|Saira+Stencil+One|Vidaloka&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    {% block style %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body bgcolor="#444">
    <div class="wrapper">
      <nav class="navbar navbar-light bg-dark fixed-top">
        <span class="navbar-brand mb-0 h1"><a href="{% url 'home' %}">Luna</a></span>
      </nav>
      {% block body %}
      {% endblock %}
      <footer class="fixed-bottom bg-dark">
          <p>Django Test Application</p>
      </footer>
    </div>
  </body>
</html>
