{% extends "base.html" %}
{% block title %}Home - Luna Age{% endblock %}
{% load staticfiles %}
{% block style %}
<style media="screen">
  h1.title{
    font-family: 'Saira Stencil One', cursive;
    width: 100%;
    text-align: center;
    font-size: 144px;
    margin-top: 24px;
  }
  h2.subtitle{
    font-family: 'Cookie', cursive;
    width: 100%;
    text-align: center;
    font-size: 44px;
    margin-top: -30px;
  }
  .linebox{
    height: 10px;
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid #000;
  }

  .formbox{
    font-family: 'Vidaloka', serif;
    width: 50%;
    margin: 50px auto;
  }
  form input{
    background-color: rgba(0,0,0,.3);
    border: 1px solid #fff;
    box-shadow: none;
    font-size: 1.5em;
    height: 1.6em;
    width: 5em;
    padding: .3em;
    margin: .5em;
    border-radius: .8em;
    text-indent: 1em;
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
  form input:focus{
    outline: 0;
    border: 1px solid #ee0;
    box-shadow: 0 0 4px 4px rgba(255,255,0,0.4);
  }
  form span{
    font-size: 1.5em;
    margin-left: 1.2em;
  }
  form button#calc{
    width: 50%;
  }
  form button#calc{
  	position: relative;
  	display: block;
    width: 40%;
    height: 3em;
    border-radius: 1.5em;
    margin: 3em auto;
  	padding: 0.8em;
  	text-align: center;
  	text-decoration: none;
  	color: #222;
  	background: rgba(255, 215, 0, .7);
  	border:solid 1px #fff;
  	overflow: hidden;
  }
  form button#calc:before {
  	content:"";
  	position: absolute;
  	top: -20px;
  	left: -50px;
  	height:100px;
  	width:20px;
  	background : #fff;
  	opacity: 0.5;
  	transform: rotate(40deg);
  	transition: 0.3s;
  }
  form button#calc:hover:before {
  	left:98%;
  }

  table{
    width: 50%;
    border-spacing: 0;
    margin: 0 auto 100px;;
  }

  table th{
    border-bottom: solid 2px #fb5144;
    text-align: center;
    padding: 10px 0;
    width: 34%;
  }

  table td{
    border-bottom: solid 2px #ddd;
    text-align: center;
    padding: 10px 0;
    width: 22%;
  }
</style>
{% endblock %}

{% block body %}
<h1 class="title">Luna</h1>
<h2 class="subtitle">age of the moon</h2>
<div class="linebox"></div>
<div class="formbox">
  <form class="luna-home" action="{% url 'result' %}" method="post">
    {% csrf_token %}
    <span>Year :</span>{{ form.year }}
    <span>Month :</span>{{ form.month }}
    <span>Day :</span>{{ form.date }}
    <br>
    <button type="submit" id="calc">CALCULATE</button>
  </form>
</div>
<table>
  <tr style="background-color: rgba(0,0,0,.1);">
    <td>YEAR</td>
    <td>MONTH</td>
    <td>DAY</td>
    <th>AGE</th>
  </tr>
  <tr>
    <td>2019</td>
    <td>1</td>
    <td>1</td>
    <th>24.4</th>
  </tr>

{% for item in ages %}
  <tr>
    <td>{{item.year}}</td>
    <td>{{item.month}}</td>
    <td>{{item.day}}</td>
    <th>{{item.age}}</th>
  </tr>
{% endfor %}
</table>
{% endblock %}
