{% extends "base.html" %}
{% block title %}Result - Luna Age{% endblock %}
{% block style %}
<style media="screen">
  h1.title{
    font-family: 'Saira Stencil One', cursive;
    width: 100%;
    text-align: center;
    font-size: 144px;
    margin-top: 24px;
  }
  h2.subtitle{
    font-family: 'Cookie', cursive;
    width: 100%;
    text-align: center;
    font-size: 56px;
    margin-top: -20px;
  }

p.moonage{
  font-family: 'DM Serif Text', serif;
  width: 20%;
  margin: 20px auto 50px;
  text-align: center;
  font-size: 60px;
  border-bottom: 2px solid #ff0;
}

.moon-wrap{
  width: 200px;
  height: 200px;
  padding: 50px;
  display: block;
  margin: auto auto;
  background-color: #000;
  transform: scale(-1, 1);
}
.moon {
  border-radius: 51%;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100px;
  margin: auto;
}

.phase {
  background-image: linear-gradient(to right, #ff0 0, #ff0 50%, #033 50%, #033 100%);
}

.moon::before,
.moon::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
}

.moon::before {
  border-top-left-radius: 3rem 200%;
  border-bottom-left-radius: 3rem 200%;
  right: 50%;
}

.moon::after {
  border-top-right-radius: 3rem 200%;
  border-bottom-right-radius: 3rem 200%;
  left: 50%;
}

.phase::before {
  background-color: #033;
  width: 50%;
}
</style>

{% endblock %}
{% load staticfiles %}

{% block body %}
<h1 class="title">Result</h1>
<h2 class="subtitle">{{year}}/{{month}}/{{day}}</h2>

<p class="moonage">{{lunar_date}}</p>

<div class="moon-wrap">
  <div class="moon phase">
</div>

</div>
{% endblock %}
